<mat-card
  class="example-card cursor-pointer hover:shadow-lg transition-shadow"
  appearance="outlined"
  (click)="selectBook()">
  <img mat-card-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
  </mat-card-content>
  <mat-card-footer>
    <h3 class="font-semibold mt-2">{{book.title}}</h3>
    <p class="text-xs mt-0.5 text-muted-foreground">{{book.author}}</p>
  </mat-card-footer>
  <div class="flex justify-between items-center mt-2">
    <span class="text-base font-semibold" style="color:#036819">Price: {{book.price | currency:'CHF'}}</span>
  </div>
</mat-card>
