.shortcut {
  height: 40px;
  width: 40px;
  border-radius: 9999px; /* full */
  background-color: #b5b8bc; /* blue-500 */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
