<div class="checkout-container">
  <div class="left">
    <p>Basket</p>
    <app-show-basket-list></app-show-basket-list>
  </div>
  <div class="right">
    <mat-accordion class="checkout-accordion" multi="false">
      <mat-expansion-panel [expanded]="tabProccessed.IsAddressTabExpand">
        <mat-expansion-panel-header
          [ngClass]="{ 'completed-header': !tabProccessed.IsAddressTabExpand }">
          <mat-panel-title>1 Delivery Address</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="tab-content" 
             [ngClass]="{'disabled': !tabProccessed.IsAddressTabExpand}">
          <app-delivery-address 
            (IsOrderCreated)="onOrderSuccessCreation($event)">
          </app-delivery-address>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="tabProccessed.IsPaymentTabExpand">
        <mat-expansion-panel-header>
          <mat-panel-title>2 Payment</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="tab-content">
          <app-payment-methods (IsPaymentCompleted)="onPaymentSuccess($event)"></app-payment-methods>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="tabProccessed.IsConfirmationTabExpand">
        <mat-expansion-panel-header>
          <mat-panel-title>3 Confirmation</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="tab-content">
          <app-payment-confirmation></app-payment-confirmation>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>